.container {
  display: flex;
}

.box {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
}
.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.gray {
  background-color: gray;
}

.img {
  margin: 0;
  width: 100%;
  object-fit: cover;
}

.title {
  margin: 0;
}
.text {
  padding: 5px;
}
.link {
  color: pink;
}

.box * {
  transition: 0.3s easy all;
}

.image:hover img,
.image:focus-within img {
  margin-top: -80px;
}

.image:hover h2,
.image:focus-within h2 {
  padding: 8px 12px 0;
}
