$clr: #ff0066;

.nav__main {
  border-style: solid;
  color: #ff0066;

  & .nav__link {
    color: $clr;
    text-decoration: none;
  }

  & .nav__link--act:hover {
    font-size: 20px;
    color: black;
  }
}
