html {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  height: 100px;
  background-color: #313638;
  color: aliceblue;
}

.main {
  display: flex;
  justify-content: space-between;
}
.sidebar {
  width: 30%;
  background-color: #f06543;
  justify-content: center;
  align-items: center;
}

.article {
  width: 60%;
}

.footer {
  height: 100px;
  background-color: #b3b3b3;
}
