@font-face {
    font-family: 'Strong Line 7';
    src: url('StrongLine7.woff2') format('woff2'),
        url('StrongLine7.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

