html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.box {
  display: flex;
  width: 250px;
  height: 250px;
  background: linear-gradient(180deg, red, yellow);
  margin: 0 auto;
  color: #fff;
  font-family: Helvetica, sans-serif;
  font-size: 30px;
  box-shadow: 10px 5px 5px black;
}

.box--1 {
  width: 25%;
  height: 25%;
  background: chartreuse;
}
.box--2 {
  width: 25%;
  height: 25%;
  background: chartreuse;
}
.box--3 {
  width: 25%;
  height: 25%;
  background: chartreuse;
}
.box--4 {
  width: 25%;
  height: 25%;
  background: chartreuse;
}

ul {
  display: inline-block;
  border-style: solid;
}

.test {
  height: 100px;
  background-color: pink;
  border-style: solid;
  text-align: center;
}

p {
  border-style: solid;
}

span {
  border-style: solid;
}

.div1 {
  border-style: solid;
}
.div2 {
  border-style: solid;
  border-width: 5px;
}

header {
  background: chartreuse;
  border-style: solid;
  margin: 0 auto;
  display: flex;
}

header h1 {
  border-style: solid;
  position: fixed;
}
