$gray: #b7b3b3;
$blue: #2c35e0;
$row_width: 300px;
$box_padding: 10px;

.row {
  display: flex;
  flex-direction: row;
  width: $row_width;
}

.box {
  padding: $box_padding;
  width: $row_width;

  &.heads {
    background-color: $blue;
    color: $gray;
  }
  &.tails {
    background-color: $gray;
    color: &blue;
  }
}
