* {
  font-size: 18px;
  margin: 0;
  padding: 0;
}

button {
  width: 200px;
}

.light {
  width: 200px;
  height: 200px;
}

.light-stop-on {
  background-image: url(/img/stop-on.svg);
  background-size: contain;
}

.light-stop-off {
  background-image: url(/img/bulb-off.png);
  background-size: contain;
}
