
@font-face {
  font-family: 'Strong Line 7';
  src: url("strong7/StrongLine7.woff2") format('woff2'),
      url("strong7/StrongLine7.woff") format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



article {
  width: 50rem;
  margin: 0 auto;
}

section {
  padding: 0.5rem 2rem;
}

html {
  font-family: "lato", sans-serif;
  font-size: 18px;

}

body {
  background-color: #FFFFFF;

}

h1{
  color: #23226C;
  font-weight: 900;
  font-size: 240%;
  align-items: center;
  font-family: 'Strong Line 7';
}

h2{
  color: #23226C;
  font-weight: 900;
  font-size: 180%;
}

p {
  color: #555555;
  height: 150%;
  text-align: justify;

}

strong {
  color: black;
}
em {
  background-color: #D2D6EF;
  font-style: normal;

}

link {
  color: #6290C3;
}

.intro {
  background-color: #D2D6EF;
}
.conclusion {
  background-color: #D2D6EF;
}